<h1>Confirm Data</h1>
<h4>Worker:</h4><p><%= @placement.worker.first_name %></p>
<h4>Company:</h4><p><%= @placement.client.name %></p>
<h4>Job Request:</h4><p><%= @placement.candidacy.job_request.job_function %></p>
<%= form_with model: @placement, url: placements_path do |f|%>
    <%= f.hidden_field :candidacy_id, value: @placement.candidacy.id%>
    <%= f.hidden_field :worker_id, value: @placement.worker.id%>
    <%= f.hidden_field :client_id, value: @placement.client.id%>
    <%= f.label :start_date%>
    <%= f.date_field :start_date, value: @placement.start_date%>
    <%= f.label :end_date%>
    <%= f.date_field :end_date, value: @placement.end_date%>
    <%= f.label :monthly_salary%>
    <%= f.number_field :monthly_salary, value: @placement.monthly_salary%>
    <%= f.submit "Confirm placement"%>
<%end%>