<h1>JobRequiredSkills#create</h1>
<p>Find me in app/views/job_required_skills/create.html.erb</p>
<%= form_with  method: :get do |f|%>
    <%=f.text_field :hola%>
    <%=f.text_field :adios%>
    <%= f.submit %>
<%end%>
<%= params%>