<div class="container">
<div class="row">
        <h3><%= @worker.first_name %> <%= @worker.last_name%></h3>
        <h4><%= @worker.email%></h4>
        <h4><%= @worker.city%> | <%= @worker.country%></h4>
        <h4>working: <%=@worker.current_job ? "#{@worker.current_job} at #{@worker.employer.name}" : "No"%></h4>
        <h4>Available: <%= @worker.available%></h4>
        <%if current_worker || current_admin%>
            <%= form_with url: workers_availability_path  do |f|%>
                <%= f.submit "Toggle Availability"%>
            <%end%>
            <h4>Please edit your profile so we can show you the best jobs for you</h4>
            <%= button_to "Edit", edit_worker_path(@worker.id), method: :get%>
        <%end%>
</div>
<hr>
<h1>Your appliances</h1>
<div>
    <%@worker.candidacies.each do |job|%>
        <%= button_to "#{job.job_request.job_function}", job_request_path(job.job_request.id), method: :get%>
        <p><%= job.status%></p>
    <%end%>
</div>
</div>